src/main/resources/BaseTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- BASE_TYPES Integration Scheme, version 8.1, create date 04.04.2018 -->
<xs:schema xmlns="http://zakupki.gov.ru/oos/base/1" xmlns:base="http://zakupki.gov.ru/oos/base/1" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://zakupki.gov.ru/oos/base/1" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<!--Ссылки на НСИ-->
	<xs:complexType name="abandonedReasonRef">
		<xs:annotation>
			<xs:documentation>Ссылка на справочник Основания признания торгов несостоявшимися</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="code" type="abandonedReasonCode">
				<xs:annotation>
					<xs:documentation>Код основания признания торгов несостоявшимися</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="name" type="abandonedReasonName" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Наименование основания признания торгов несостоявшимися.
Игнорируется при приеме. При передаче заполняется значением из справочника "Справочник оснований признания процедуры несостоявшейся" (nsiAbandonedReason)</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="currencyRef">
		<xs:annotation>
			<xs:documentation>Ссылка на ОКВ</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="code">
				<xs:annotation>
					<xs:documentation>Код валюты</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="3"/>
						<xs:minLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="name" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Наименование валюты.
Игнорируется при приеме.  При передаче заполняется значением из справочника "Общероссийский классификатор валют (ОКВ)" (nsiCurrency)</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="50"/>
						<xs:minLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ETPRef">
		<xs:annotation>
			<xs:documentation>Ссылка на справочник Электронные площадки по ПП РФ № 615</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="code" type="etpCodeType">
				<xs:annotation>
					<xs:documentation>Кодовое наименование электронной площадки</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="name" type="mediumTextType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Наименование электронной площадки. 
Игнорируется при приеме. При передаче заполняется значением из справочника "Справочник: Электронные торговые площадки по ПП РФ № 615" (nsiETP)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="url" type="base:hrefType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Адрес электронной площадки. 
Игнорируется при приеме.     При передаче заполняется значением из справочника "Справочник: Электронные торговые площадки по ПП РФ № 615" (nsiETP)</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="exclusionReason615Ref">
		<xs:annotation>
			<xs:documentation>Ссылка на справочник Справочник оснований для исключения сведений из реестра квалифицированных подрядных организаций</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="code" type="exclusionReason615CodeType">
				<xs:annotation>
					<xs:documentation>Код</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="name" type="base:longTextType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Наименование основания.
Игнорируется при приеме. При передаче заполняется значением из справочника "Основания для исключения сведений из реестра квалифицированных подрядных организаций по ПП РФ № 615" (pprf615NsiExclusionReasons)</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="fundingSources615Ref">
		<xs:annotation>
			<xs:documentation>Ссылка на справочник Типы источников финансирования ПП РФ № 615</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="code" type="fundingSources615CodeType">
				<xs:annotation>
					<xs:documentation>Код типа источника финансирования</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="name" type="mediumTextType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Наименование типа источника финансирования.
Игнорируется при приеме. При передаче заполняется значением из справочника "Типы источников финансирования по ПП РФ № 615" (pprf615NsiFundingSources)</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OKOPFRef">
		<xs:annotation>
			<xs:documentation>Ссылка на ОКОПФ</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="code">
				<xs:annotation>
					<xs:documentation>Код организационно-правовой формы</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="5"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="singularName" type="longTextType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Наименование в единственном числе.
Игнорируется при приеме. При передаче заполняется значением из справочника "Общероссийский классификатор организационно-правовых форм (ОКОПФ)" (nsiOKOPFList)</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OKPDRef">
		<xs:annotation>
			<xs:documentation>Ссылка на ОКПД</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="OKPDCode" type="base:okpdCodeType">
				<xs:annotation>
					<xs:documentation>Код товара, работы или услуги</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OKPDName" type="base:okpdNameType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Наименование товара, работы или услуги.
Игнорируется при приеме. При передаче заполняется значением из справочника "Общероссийский классификатор продукции по видам экономической деятельности ОК 034-2014 (ОКПД2)" (nsiOKPD2List)</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OKSMRef">
		<xs:annotation>
			<xs:documentation>Ссылка на страну</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="countryCode" type="base:countryCodeType">
				<xs:annotation>
					<xs:documentation>Цифровой код страны</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="countryFullName" type="base:kladrTextType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Полное наименование страны. Игнорируется при приеме. При передаче заполняется значением из справочника "Общероссийский классификатор стран мира (ОКСМ)" (nsiOKSM)</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="organizationRef">
		<xs:annotation>
			<xs:documentation>Ссылка на организацию</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="regNum" type="base:spzNumType">
				<xs:annotation>
					<xs:documentation>Код по СПЗ.  В случае если организация идентифицируется по коду СвР, а код СПЗ неизвестен, необходимо заполнить данное поле значением 00000000000, и обязательно указать код СвР</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="consRegistryNum" type="base:consRegistryNumType" minOccurs="0">
				<xs:annotation>
					<xs:documentation> Код по Сводному Реестру. Должен быть заполнен в случае, если в поле regNum указано значение 00000000000</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="fullName" type="base:longTextType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Полное наименование.
Игнорируется при приеме. При передаче заполняется значением из справочника "Сводный перечень заказчиков (СПЗ)" (nsiOrganizationList)</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="purchaseSubjectRef">
		<xs:annotation>
			<xs:documentation>Ссылка на справочник Предметы электронного аукциона по ПП РФ № 615</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="code" type="base:purchaseSubjectCodeType">
				<xs:annotation>
					<xs:documentation>Код </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="name" type="base:longTextType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Наименование предмета электронного аукциона. Игнорируется при приеме. При передаче заполняется значением из справочника "Справочник: Предметы электронного аукциона по ПП РФ № 615" (nsiPurchaseSubject)</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="qualifiedContractorRef">
		<xs:annotation>
			<xs:documentation>Ссылка на реестр квалифицированных подрядных организаций по ПП РФ № 615</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="registryNum" type="base:qualifiedContractorCodeType">
				<xs:annotation>
					<xs:documentation>Номер реестровой записи РКПО</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="name" type="base:longTextType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Наименование организации / ФИО в РКПО.
Игнорируется при приеме. При передаче заполняется значением из реестра квалифицированных подрядных организаций (РКПО) по ПП РФ № 615 (pprf615QualifiedContractor)</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="rejectReasonRef">
		<xs:annotation>
			<xs:documentation>Ссылка на справочник Причины для отказа в допуске заявки</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="code" type="rejectReasonCode">
				<xs:annotation>
					<xs:documentation>Код причины для отказа в допуске заявки</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="name" type="rejectReasonName" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Наименование причины для отказа в допуске заявки.
Игнорируется при приеме. При передаче заполняется значением из справочника "Справочник причин отказа в допуске к участию в торгах" (nsiPurchaseRejectReasonList)</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="serviceWorkSt166Ref">
		<xs:annotation>
			<xs:documentation>Ссылка на справочник Виды услуг и (или) работ в соотвествии со ст. 166 Жилищного кодекса РФ</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="code" type="base:serviceWorkCodeType">
				<xs:annotation>
					<xs:documentation>Код</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="name" type="base:longTextType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Наименование вида услуги или работы. 
Игнорируется при приеме. 
При передаче заполняется значением из справочника "Справочник: Предметы электронного аукциона по ПП РФ № 615" (nsiPurchaseSubject)</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="terminationGround615Ref">
		<xs:annotation>
			<xs:documentation>Ссылка на справочник Основания расторжения договора по капитальному ремонту ПП РФ № 615</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="code" type="terminationGround615CodeType">
				<xs:annotation>
					<xs:documentation>Код</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="name" type="base:longTextType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Наименование основания.
Игнорируется при приеме. При передаче заполняется значением из справочника "Основания расторжения договора по капитальному ремонту ПП РФ № 615" (pprf615NsiTerminationGrounds)</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="terminationReason615Ref">
		<xs:annotation>
			<xs:documentation>Ссылка на справочник Причины расторжения договора по капитальному ремонту ПП РФ № 615</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="code" type="terminationReason615CodeType">
				<xs:annotation>
					<xs:documentation>Код причины</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="name" type="base:longTextType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Наименование причины. Игнорируется при приеме. При передаче заполняется значением из справочника "Причины расторжения договора по капитальному ремонту ПП РФ № 615" (pprf615NsiTerminationReasons)</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="abandonedReasonCode">
		<xs:annotation>
			<xs:documentation>Тип: Код основания признания торгов несостоявшимися</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="20"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="abandonedReasonName">
		<xs:annotation>
			<xs:documentation>Тип: Наименование основания признания торгов несостоявшимися</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="1000"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="abandonedReasonObjectName">
		<xs:annotation>
			<xs:documentation>Тип: Наименование интеграционного объекта в справочнике оснований признания процедуры несостоявшейся</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="350"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="bankGuaranteeRegNumberType">
		<xs:annotation>
			<xs:documentation>Тип: Номер реестровой записи банковской гарантии</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="20"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="bikType">
		<xs:annotation>
			<xs:documentation>Тип: БИК</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="\d{9}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="commissionRoleCodeType">
		<xs:annotation>
			<xs:documentation>Тип: Код роли члена комиссии</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="10"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="confirmationResultType">
		<xs:annotation>
			<xs:documentation>Тип: Результат приема пакета </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="success"/>
			<xs:enumeration value="failure"/>
			<xs:enumeration value="processing"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="consRegistryNumType">
		<xs:annotation>
			<xs:documentation>Тип: Код по Сводному реестру</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="8"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="contractDocRegNum615Type">
		<xs:annotation>
			<xs:documentation>Тип: Номер документа по договору о проведении капитального ремонта по ПП РФ № 615</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="\d{22}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="contractNumber615Type">
		<xs:annotation>
			<xs:documentation>Тип: Номер договора о проведении капитального ремонта по ПП РФ № 615</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="100"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="contractPartyTypeEnum">
		<xs:annotation>
			<xs:documentation>Тип: Сторона в договоре:
C - Заказчик;
S - Поставщик</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="C"/>
			<xs:enumeration value="S"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="contractPenaltyTypeEnum">
		<xs:annotation>
			<xs:documentation>Тип: Тип штрафа/пени в исполнении договора:
F - Штраф;
I - Пени</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="F"/>
			<xs:enumeration value="I"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="contractRegNum615Type">
		<xs:annotation>
			<xs:documentation>Тип: Номер номера реестровой записи реестра договоров о проведении капитального ремонта по ПП РФ № 615</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="\d{18}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="countryCodeType">
		<xs:annotation>
			<xs:documentation>Тип: Цифровой код страны</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="docNameType">
		<xs:annotation>
			<xs:documentation>Тип: Наименование документа</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="1000"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="documentNumber615Type">
		<xs:annotation>
			<xs:documentation>Тип: Номер документа по ПП РФ № 615</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="\d{22}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="documentNumberRegistryType">
		<xs:annotation>
			<xs:documentation>Тип: Номер документа реестра квалифицированных подрядных организаций по ПП РФ № 615</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="\d{24}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="documentNumberType">
		<xs:annotation>
			<xs:documentation>Тип: Номер документа</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="100"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="eMailType">
		<xs:annotation>
			<xs:documentation>Тип: Адрес электронной почты</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="256"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="etpCodeType">
		<xs:annotation>
			<xs:documentation>Тип: Кодовое наименование электронной площадки</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="20"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="exclusionReason615CodeType">
		<xs:annotation>
			<xs:documentation>Тип: Код вида услуги или работы в соотвествии со ст. 166 Жилищного кодекса РФ</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="20"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="externalIdType">
		<xs:annotation>
			<xs:documentation>Тип: Внешний идентификатор</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="40"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="fundingSources615CodeType">
		<xs:annotation>
			<xs:documentation>Тип: Код типа источника финансирования по ПП РФ № 615</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="5"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="guidType">
		<xs:annotation>
			<xs:documentation>Тип: Глобальный идентификатор</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="36"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="hrefType">
		<xs:annotation>
			<xs:documentation>Тип: Гиперссылка</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="1024"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="innOrganizationType">
		<xs:annotation>
			<xs:documentation>Тип: ИНН организации</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="\d{10}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="innType">
		<xs:annotation>
			<xs:documentation>Тип: ИНН</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="\d{10}|\d{12}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="journalNumberType">
		<xs:annotation>
			<xs:documentation>Тип: Номер заявки</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="100"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="kladrCodeType">
		<xs:annotation>
			<xs:documentation>Тип: Код КЛАДР</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="20"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="kladrTextType">
		<xs:annotation>
			<xs:documentation>Тип: Текстовое обозначение в КЛАДР</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="200"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="kppType">
		<xs:annotation>
			<xs:documentation>Тип: КПП</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="\d{9}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="longTextType">
		<xs:annotation>
			<xs:documentation>Тип: Длинное текстовое поле</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="2000"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="mediumTextType">
		<xs:annotation>
			<xs:documentation>Тип: Текстовое поле 200 символов</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="200"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="moneyPositiveType">
		<xs:annotation>
			<xs:documentation>Тип: Неотрицательная сумма</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="21"/>
			<xs:pattern value="\d+(\.\d{1,2})?"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="moneyType">
		<xs:annotation>
			<xs:documentation>Тип: Сумма</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="21"/>
			<xs:pattern value="(-)?\d+(\.\d{1,2})?"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="monthType">
		<xs:annotation>
			<xs:documentation>Тип: Номер месяца</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:byte">
			<xs:minInclusive value="1"/>
			<xs:maxInclusive value="12"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="nameType">
		<xs:annotation>
			<xs:documentation>Тип: ФИО</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="50"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="okpdCodeType">
		<xs:annotation>
			<xs:documentation>Тип: Код ОКПД</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="20"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="okpdNameType">
		<xs:annotation>
			<xs:documentation>Тип: Наименование товара, работы или услуги</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="500"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="participantTypeEnum">
		<xs:annotation>
			<xs:documentation>Тип: Виды поставщика</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="U"/>
			<xs:enumeration value="UF"/>
			<xs:enumeration value="B"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="personalAccountType">
		<xs:annotation>
			<xs:documentation>Тип: Лицевой счет</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="30"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="phoneType">
		<xs:annotation>
			<xs:documentation>Тип: Номер телефона/факса</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="30"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="placingWayCodeType">
		<xs:annotation>
			<xs:documentation>Тип: Код способа размещения заказа (определения поставщика)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="7"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="prescriptionNumberType">
		<xs:annotation>
			<xs:documentation>Тип: Номер предписания</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="100"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="printFormFileType">
		<xs:annotation>
			<xs:documentation>Тип файла печатной формы</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="pdf"/>
			<xs:enumeration value="docx"/>
			<xs:enumeration value="doc"/>
			<xs:enumeration value="rtf"/>
			<xs:enumeration value="xls"/>
			<xs:enumeration value="xlsx"/>
			<xs:enumeration value="jpeg"/>
			<xs:enumeration value="jpg"/>
			<xs:enumeration value="bmp"/>
			<xs:enumeration value="tif"/>
			<xs:enumeration value="tiff"/>
			<xs:enumeration value="txt"/>
			<xs:enumeration value="zip"/>
			<xs:enumeration value="rar"/>
			<xs:enumeration value="gif"/>
			<xs:enumeration value="csv"/>
			<xs:enumeration value="odp"/>
			<xs:enumeration value="odf"/>
			<xs:enumeration value="ods"/>
			<xs:enumeration value="odt"/>
			<xs:enumeration value="sxc"/>
			<xs:enumeration value="sxw"/>
			<xs:enumeration value="xml"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="purchaseNumber615Type">
		<xs:annotation>
			<xs:documentation>Тип: Номер закупки по ПП РФ № 615</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="\d{18}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="purchaseSubjectCodeType">
		<xs:annotation>
			<xs:documentation>Тип: Код предмета электронного аукциона по ПП РФ № 615</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="5"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="qualifiedContractorCodeType">
		<xs:annotation>
			<xs:documentation>Тип: Номер реестровой записи реестра квалифицированных подрядных организаций</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="\d{20}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="rejectReasonCode">
		<xs:annotation>
			<xs:documentation>Тип: Код причины для отказа в допуске заявки</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="20"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="rejectReasonName">
		<xs:annotation>
			<xs:documentation>Тип: Наименование причины для отказа в допуске заявки</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="500"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="responsibleRoleType">
		<xs:annotation>
			<xs:documentation>Тип: Роль организации, осуществляющей закупку
RPO - Орган, уполномоченный на ведение реестра квалифицированных подрядных организацийии технического заказчика;
RO - Специализированная не-коммерческая организация, которая осуществляет деятельность, направленную на обеспечение проведения капитального ремонта общего имущества в много-квартирных домах (региональный оператор);
TC - Орган местного самоуправления и (или) государственное, муниципальное бюджетное, казенное учреждение в случаях, предусмотренных частью 4 статьи 182 Жилищного кодекса Российской Федерации, осуществляющее функции тех-нического заказчика.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="RPO"/>
			<xs:enumeration value="RO"/>
			<xs:enumeration value="TC"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="responsibleRolePOType">
		<xs:annotation>
			<xs:documentation>Тип: Роль организации, осуществляющей закупку по предварителньому отбору квалифицированных подрядных организаций ПП РФ № 615: 
RPO - Орган, уполномоченный на ведение реестра квалифицированных подрядных организацийии технического заказчика.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="RPO"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="responsibleRoleEFType">
		<xs:annotation>
			<xs:documentation>Тип: Роль организации, осуществляющей закупку по электронному аукциону ПП РФ № 615:
RO - Специализированная не-коммерческая организация, которая осуществляет деятельность, направленную на обеспечение проведения капитального ремонта общего имущества в много-квартирных домах (региональный оператор);
TC - Орган местного самоуправления и (или) государственное, муниципальное бюджетное, казенное учреждение в случаях, предусмотренных частью 4 статьи 182 Жилищного кодекса Российской Федерации, осуществляющее функции тех-нического заказчика.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="RO"/>
			<xs:enumeration value="TC"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="schemeVersionType">
		<xs:annotation>
			<xs:documentation>Тип: Версия схемы</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="8.0"/>
			<xs:enumeration value="8.1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="serviceWorkCodeType">
		<xs:annotation>
			<xs:documentation>Тип: Код вида услуги или работы в соотвествии со ст. 166 Жилищного кодекса РФ</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="5"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="settlementAccountType">
		<xs:annotation>
			<xs:documentation>Тип: Расчетный счет</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="\d{20}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="signatureType">
		<xs:annotation>
			<xs:documentation>Тип подписи</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="CAdES-BES"/>
			<xs:enumeration value="CAdES-A"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="spzNumType">
		<xs:annotation>
			<xs:documentation>Тип: Код по СПЗ</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="\d{11}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="taxPayerCode">
		<xs:annotation>
			<xs:documentation>Тип: Код налогоплательщика в стране регистрации или его аналог</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="100"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="violationLevelType">
		<xs:annotation>
			<xs:documentation>Тип: Нарушения в протоколе приема</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="error"/>
			<xs:enumeration value="warning"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="yearType">
		<xs:annotation>
			<xs:documentation>Тип: Номер года</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:int">
			<xs:pattern value="\d{4}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="terminationGround615CodeType">
		<xs:annotation>
			<xs:documentation>Тип: Код основания расторжения договора по капитальному ремонту ПП РФ № 615</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="5"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="terminationReason615CodeType">
		<xs:annotation>
			<xs:documentation>Тип: Код причины расторжения договора по капитальному ремонту ПП РФ № 615</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="5"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
